doctype html
html
	head
		title Yakking Yak
		base(href=".")

		link(rel="icon" href="yakking_yak.png")
		link(href="lib/switch.css" rel="stylesheet")
		script(src="https://unpkg.com/webnative@latest/dist/index.umd.min.js")
		//- script(src="lib/webnative.js" ) 

		link(href="bin/style.css" rel="stylesheet")
		script. 
			var rust_crate = import("./bin/yakking_yak.js");
			console.log(rust_crate);
		script(src="bin/main.js")
	body
		#header
			span#name
			button#allowTrust.normButton Allow Trusting
			form#groupForm(action="")
				input#groupInput(type="text" autocomplete="off" value="Default")
				button.normButton go
		ul#messages
		form#msgForm(action="")
			label.switch(for="isEncrypting")
				input#isEncrypting(type="checkbox") 
				span.slider.round
			input#msgInput(type="text" autocomplete="off")
			button.normButton send
