doctype html
html
	head
		title Rusty Chat
		base(href=".")
		script(src="libs/socketio.js") 
		script(src="https://unpkg.com/webnative@latest/dist/index.umd.min.js") 
		link(href="libs/switch.css" rel="stylesheet")
		link(href="css/style.css" rel="stylesheet")
		script(src="js/login.js" type="module")
		script(src="js/start.js" type="module") 
	body
		#header
			span#name
			button#allowTrust.normButton Allow Trusting
			form#groupForm(action="")
				input#groupInput(type="text" autocomplete="off" value="Default")
				button.normButton go
		ul#messages
		form#msgForm(action="")
			label.switch(for="isEncrypting")
				input#isEncrypting(type="checkbox") 
				span.slider.round
			input#msgInput(type="text" autocomplete="off")
			button.normButton send
